<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="useProxy" value="false" />
    <add key="proxyAddress" value="" />
    <add key="domain" value="" />
    <add key="userName" value="" />
    <add key="password" value="" />
  </appSettings>
</configuration>